.container{
    background-color: red;
display: flex;
justify-content: center;
}

.content{
    background-color: blue;
    display: flex;
}

.column{
    margin: 10px;
    background-color: royalblue;
    min-width: 200px;
}